.header__subtitle {
    max-width: 388px;
    width: 100%;
    position: absolute;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    text-align: left;
    z-index: 3;
    margin: 0;
    padding: 0;
  }